<h1>HAH </h1>
<div>YOUR LISTS
    <table>
    <%= @card_decks.each do |x|%>
    <tr>
    <!--NEED TO REPLACE THIS WITH A SERIES OF "LINKS"-->
    <td><%= link_to "#{x.id}, #{x.name}", "/card/#{x.id}"%></td>
    <td><%= link_to "DELETE","/deckDestroy/#{x.id}"%></td>
    </tr>
    <%end%>
    </table>
</div>