<h1>INDEX</h1>
<table>
  <tr>
  <th>USER NAME</th>
  </tr>
  <tr>
  <td><%=%></td>
  </tr>
</table>
<script> 
//var usrName = document.getElementById("user_name").value;
//var usr_password = document.getElementById("usr_password").value;
if(localStorage.getItem("user")===null)
{
  window.location.href="http://localhost:3000/login";
}


// function testfunction()
// {
//   updateUser();
//   console.log("UserName: "+usrName+"\nPassword:"+usr_password);
// }
</script>