<div>
    <label for="card_q">Question</label>
    <textarea type="text" id = "card_q" name= "card_q"rows="4" cols="50">
    </textarea>
    <br>
    <label for="card_a">Answer</label>
    <textarea type="text" id = "card_a" name= "card_a"rows="4" cols="50">
    </textarea>
    <button>submit</button>
    <button>cancel</button>
</div>

<script>
</script>